@CHARSET "UTF-8";

body {
	background-color: cyan;
}
div {
	width : 100px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid black;
}