<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
   <display-name>WebGestionStock</display-name>
   <welcome-file-list>
      <welcome-file>index.html</welcome-file>
      <welcome-file>index.htm</welcome-file>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>default.html</welcome-file>
      <welcome-file>default.htm</welcome-file>
      <welcome-file>default.jsp</welcome-file>
   </welcome-file-list>
   <servlet>
      <description></description>
      <display-name>SaisieDestinataireServlet</display-name>
      <servlet-name>SaisieDestinataireServlet</servlet-name>
      <servlet-class>fr.creasport.webgestionstock.servlet.SaisieDestinataireServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>SaisieDestinataireServlet</servlet-name>
      <url-pattern>/SaisieDestinataireServlet</url-pattern>
   </servlet-mapping>
   <servlet>
      <description></description>
      <display-name>IndexServlet</display-name>
      <servlet-name>IndexServlet</servlet-name>
      <servlet-class>fr.creasport.webgestionstock.servlet.IndexServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>IndexServlet</servlet-name>
      <url-pattern>/IndexServlet</url-pattern>
   </servlet-mapping>
   <servlet>
      <description></description>
      <display-name>SaisirArticle</display-name>
      <servlet-name>SaisirArticle</servlet-name>
      <servlet-class>fr.creasport.webgestionstock.servlet.SaisirArticle</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>SaisirArticle</servlet-name>
      <url-pattern>/SaisirArticle</url-pattern>
   </servlet-mapping>
   <servlet>
      <description></description>
      <display-name>SaisirArticleServlet</display-name>
      <servlet-name>SaisirArticleServlet</servlet-name>
      <servlet-class>fr.creasport.webgestionstock.servlet.SaisirArticleServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>SaisirArticleServlet</servlet-name>
      <url-pattern>/SaisirArticleServlet</url-pattern>
   </servlet-mapping>
   <servlet>
      <description></description>
      <display-name>ExpedierServlet</display-name>
      <servlet-name>ExpedierServlet</servlet-name>
      <servlet-class>fr.creasport.webgestionstock.servlet.ExpedierServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>ExpedierServlet</servlet-name>
      <url-pattern>/ExpedierServlet</url-pattern>
   </servlet-mapping>
   <servlet>
      <description></description>
      <display-name>TableauArticleAjaxServlet</display-name>
      <servlet-name>TableauArticleAjaxServlet</servlet-name>
      <servlet-class>fr.creasport.webgestionstock.servlet.TableauArticleAjaxServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>TableauArticleAjaxServlet</servlet-name>
      <url-pattern>/TableauArticleAjaxServlet</url-pattern>
   </servlet-mapping>
   <servlet>
      <description></description>
      <display-name>WSAclubServlet</display-name>
      <servlet-name>WSAclubServlet</servlet-name>
      <servlet-class>fr.creasport.webgestionstock.servlet.WSAclubServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>WSAclubServlet</servlet-name>
      <url-pattern>/WSAclubServlet</url-pattern>
   </servlet-mapping>
   <servlet>
      <description></description>
      <display-name>AutoCompDestinataireExperdierLot</display-name>
      <servlet-name>AutoCompDestinataireExperdierLot</servlet-name>
      <servlet-class>fr.creasport.webgestionstock.servlet.AutoCompDestinataireExperdierLot</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>AutoCompDestinataireExperdierLot</servlet-name>
      <url-pattern>/AutoCompDestinataireExperdierLot</url-pattern>
   </servlet-mapping>
</web-app>
